<form method="post" action="{{ path('admin_blog_message_delete', {'id': blog_message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog_message.id) }}">
    <button class="btn">Delete</button>
</form>
