{% extends 'base.html.twig' %}

{% block title %}Edit BlogMessage{% endblock %}

{% block body %}
    <h1>Edit BlogMessage</h1>

    {{ include('admin_blog_message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_blog_message_index') }}">back to list</a>

    {{ include('admin_blog_message/_delete_form.html.twig') }}
{% endblock %}
