{% extends 'base.html.twig' %}

{% block title %}New BlogMessage{% endblock %}

{% block body %}
    <h1>Create new BlogMessage</h1>

    {{ include('admin_blog_message/_form.html.twig') }}

    <a href="{{ path('admin_blog_message_index') }}">back to list</a>
{% endblock %}
